.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: auto;
  margin-top: 100px;
  border: 5px double rgb(39, 37, 37);
  background-color: rgba(39, 37, 37, 0.747);
}

#result {
  width: 480px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.733);
  color: rgb(80, 173, 122);
  padding-top: 40px;
  text-align: right;
  padding-right: 10px;
}

button {
  background-color: rgb(102, 190, 102);
  color: white;
  width: 110px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
}

@media screen and (max-width: 520px) {
  .calculator {
    width: 95%;
    padding: 0;
  }

  button {
    width: 25%;
    margin: auto;
  }
}
